.breadcrumb {
  margin-bottom: 0;

  &-item {
    &,
    & + &::before,
    &.active,
    &.active::before,
    a,
    a:hover {
      color: $gray-800;
    }
  }

  &--white .breadcrumb-item,
  &--white .breadcrumb-item + .breadcrumb-item.active,
  &--white .breadcrumb-item a:hover {
    color: #ffc107;
  }

  &--white .breadcrumb-item + .breadcrumb-item::before,
  &--white .breadcrumb-item + .breadcrumb-item.active::before,
  &--white .breadcrumb-item a {
    color: $white;
  }
}

.pagination {
  margin-bottom: 0;

  .page-item {
    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  .page-link {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 0 !important;
    border-radius: 50% !important;
    background-color: #f1f1f1;
    color: $text-light;
    padding: 0;

    &:hover {
      color: $white;
      background-color: $text-dark;
    }
  }

  .page-item.active .page-link {
    background-color: $text-dark;
    border-color: $text-dark;
    color: $white;
  }

  @media (max-width: 767px) {
    .page-link {
      width: 32px;
      height: 32px;
      font-size: 13px;
    }
  }
}

.search {
  padding: 16px 20px;
  border-top: 1px solid #aaa;
  background-color: $light;

  .form-control {
    border-right: 0;

    &:focus {
      box-shadow: unset;
    }
  }

  .form-control:focus ~ .input-group-text {
    border-color: $input-focus-border-color;
  }

  @media (min-width: 1200px) {
    display: none;
    width: 300px;
    padding: 8px;
    @include shadow("sm");
    border: 0;
    position: absolute;
    top: calc(100% + 40px);
    right: 0;
    z-index: 10;
  }

  @include media-breakpoint-up(xxl) {
    top: calc(100% + 50px);
  }

  @include media-breakpoint-down(xl) {
    display: block !important;
  }
}
